@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.logoText {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.searchBar {
  width: 600px;
}

.profileHover {
  display: none;
}

.profileContainer:hover .dropdownArrow {
  transform: rotate(-180deg);
}

.profileContainer:hover .profileHover {
  display: block;
}

.profileHover:hover {
  display: block;
}

@media (max-width: 1024px) {
  .searchBar {
    width: 384px;
  }
}

@media (max-width: 768px) {
  .search_barContainer {
    position: absolute;
    top: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
  }

  .searchBar {
    width: 90%;
  }
}

.morePopup {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productHome {
  max-width: 1200px;
  margin: auto;
}

.homePage {
  width: calc(100vw - 260px);
  padding-top: 4.2rem;
  float: right;
}

.productCard .cardHover {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.searchProductDropdown::-webkit-scrollbar
{
  display: none;
}
.searchProductDropdown::-webkit-scrollbar-corner
{
  height: 20px;
  width: 20px;
  background-color: black;
}

.productCard:hover .cardHover {
  opacity: 1 !important;
  transition: all 0.5s;
  position: absolute;
  transform: translateY(20px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Productinfo
{
  height: 500px;
}
@media (max-width:768px) {
  .Productinfo
{
  height:auto;
}
}
